html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  background-color: #F5F5F5;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin-bottom: -38px;
}

.button {
  font-size: 14pt;
}

.button.small {
  line-height: 17px;
}

.box {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 15px 20px 0px 20px;
  margin-bottom: 15px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.page-header {
  border-bottom: 1px solid #dadada;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-weight: bold;
  font-size: 1.6em;
}

h3 {
  font-weight: bold;
  font-size: 1.3em;
}

table {
  border-collapse: separate;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

table .button {
  margin-bottom: 0;
}

th {
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td.expand, th.expand {
  width: 75%;
}

td select {
  margin: 0;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #333;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.help-block {
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #737373;
  font-size: 10pt;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

input, .button {
  border-radius: 0px !important;
}

.button {
  font-weight: bold;
}

.button.tiny {
  font-size: 0.8rem;
  padding: 5px;
}

ul.tabs li a { 
  font-size: 0.9em;
}

ul.tabs li.is-active a { 
  font-weight: bold;
}

.dropdown-pane#user-dropdown {
  background-color: #1f262b;
  border: 1px solid #1f262b;
  width:200px;
  padding:1rem;
}

.dropdown-pane#user-dropdown ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.dropdown-pane#user-dropdown ul li {
  border-bottom: solid 1px #43535F;
  margin:3px 0;
  padding-bottom:3px;
}

.dropdown-pane#user-dropdown ul li a {
  color:#FFFFFF;
}

.dropdown-pane#user-dropdown ul li a:hover {
  color:#108fe8;
}


header {
  background-color: #43535F;
  color: #C6D1E1;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 700px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header img.logo { width:156px; height:auto; margin:12px 0 0 25px; }

header .menu-icon { margin-top:18px; }

header .button {
  background-color: transparent;
  color: #C6D1E1;
  margin-bottom: 0;
  background-position: 0.5rem center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  margin-left: 0.7rem;
  font-weight: normal;
}

header .button:hover {
  background-color: #2E373F;
  color:#FFFFFF;
}

header #account {
  background-image: url('../img/user.svg');
  padding-left: 2.5rem;
  font-size:12.5pt;
}

header #docs {
  background-image: url('../img/docs.svg');
  padding-left: 3.1rem;
  font-size:12.5pt;
}

header #logout {
  background-image: url('../img/logout.svg');
  padding-left: 3.1rem;
  font-size:12.5pt;
}

header #user span {
  background-image: url('../img/members.svg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 2.2rem;
  height: 2.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.7rem;
}

header #user {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size:12.5pt;
}

header #user {
  background-image: url('../img/down-caret.svg');
  background-position: 90% center;
  background-size: auto 15%;
  padding-right: 2rem;
}

#footer .menu a{
  color: #808789;
  font-size: 12.5pt;
  padding: 0.7rem 0.7rem;
}

#footer .menu a:hover {
  color: #1777BB;
}

#main {
  background-color: #F5F5F5;
}

#main .main-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

#main .main-container .button {
  border-radius:5px;
}

#main .row {
  max-width: none;
  margin-top: 120px;
}

.breadcrumb-bar {
  background-color: white;
  padding-left: 1rem;
  margin-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.breadcrumbs {
  font-size: 16pt;
  margin: 0.5rem 0 0.5rem 0;
}

.breadcrumbs li {
  text-transform: none;
  font-size: 12pt;
  color: #38434E;
}

.breadcrumbs a{
  color: #939C9F;

}

.breadcrumbs li:not(:last-child):after {
  color: #3B95D2;
}

.messages {
  padding-top: 2rem;
}

.callout {
  border-color: #c9c9c9;
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
  display: flex;
}

.callout .marker {
  background-color: white;
  border-right: solid 1px #c9c9c9;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

.callout .marker span {
  width: 1rem;
  height: 1rem;
  display: block;
  background-color: black;
  border-radius: 50%;

}

.callout .body {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  font-size:12.5pt;
}

.callout .body strong {
  letter-spacing:0.5px;
}

.callout.ok {
  background-color: rgba(80,188,109,0.1);
  color: rgba(61,173,105,1);
}

.callout.ok .marker span, .dashboard .title .marker.ok span {
  background-color: rgba(61,173,105,1);
}

.callout.alert {
  background-color: rgba(237,28,36,0.06);
  color: rgba(193,39,45,1);
}

.callout.alert .marker span, .dashboard .title .marker.alert span {
  background-color: rgba(193,39,45,1);
}

.callout.warning {
  background-color: rgba(247,147,30,0.1);
  color: rgba(247,147,30,1);
}

.callout.warning .marker span, .dashboard .title .marker.warning span {
  background-color: rgba(247,147,30,1);
}

.dashboard .title {
  border-radius: 3px;
  background-color: white;
  display: flex;
}

.status-indicator {
  width: 10px;
  height: 10px;
  margin: 8px 0;
  border-radius: 100%;
  background: #ececec;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: scale(0.999) translateZ(0);
  transform: scale(0.999) translateZ(0);
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.status-indicator.active {
  background: #15CD72;
}

.status-indicator.installing {
  background: #aaa;
}

.status-indicator.warning {
  background: #f0ad4e;
}

.status-indicator.error {
  background: #d9534f;
}

.dashboard .title .marker {
  background-color: #2E373F;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.dashboard .title .marker span {
  width: 1rem;
  height: 1rem;
  display: block;
  background-color: black;
  border-radius: 50%;
  border: solid 1px white;
}

.dashboard .title .body {
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-top:1px solid #c9c9c9;
  border-right:1px solid #c9c9c9;
  border-bottom:1px solid #c9c9c9;
  padding-right:0.4em;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

.dashboard .title .body .menu-icon {
  float:right; 
  margin-top:10px;
}

.dashboard .title .body .menu-icon::after {
  background:#999; box-shadow: 0 7px 0 #999, 0 14px 0 #999;
}

.dashboard .title .left {
  display: inline-block;
  margin:0px;
  padding:0px;
}

.dashboard .title .right {
  display: inline-block;
  float: right;
  margin:0px;
  padding:0px;
}

.dashboard .title .body span {
  border-right: solid 1px #B3B3B3;
  padding-right: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  margin-top: 0.2rem;
  display: inline-block;
  color:#43535f;
  font-weight:600;
  font-size:14pt;
  letter-spacing:0.7px;
}


.dashboard .title .button {
  color: white;
  background-color: #4A5C66;
  margin-right: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  font-size:12pt;
}

.dashboard .title .button:hover {
  background-color: #33434c;
}

.dashboard .title .button.activetab {
  background-color: #1777BB;
}

.dashboard .title .button.nonactivetab {
  background-color: #f5f6f7;
  color: #43535F;
}

.dashboard .title .button.nonactivetab:hover {
  background-color: #1777BB;
  color: #FFFFFF;
}

.dashboard .title .button.settings {
  background-image: url('../img/cog.svg');
  background-position: 0.5rem center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  padding-left: 2rem;
  background-color: #2E373F;
}

.dashboard .title .button.settings:hover {
  background-color: #111;
}

.dashboard .title .button.update {
  background-image: url('../img/cloud.svg');
  background-position: 0.5rem center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  padding-left: 2.2rem;
}

.dashboard .headings {
  background-color: #e4e7ea;
  color: #2e373f;
  font-size:12pt;
  letter-spacing:1px;
  padding:5px 0;
  font-weight: 600;
  border-top: solid 1px #c9c9c9;
  border-left: solid 1px #c9c9c9;
  border-right: solid 1px #c9c9c9;
  border-bottom: solid 1px #FFFFFF;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0.25rem;
}

.dashboard .headings .row {
  margin-left: 0;
  margin-right: 0;
}

.dashboard .mobile-options {
  border-left: solid 1px #c9c9c9;
  border-right: solid 1px #c9c9c9;
  border-bottom: solid 1px #c9c9c9;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color:#FFFFFF;
  color: #0C69A8;
  font-size:12.5pt;
  padding:10px;
}

.dashboard .mobile-options hr {
  margin: 0.6rem auto;
}

.dashboard .mobile-options .button {
  font-size:9.5pt; padding: 0.85em 0.5em; background-color:#4A5C66;
}

.dashboard .mobile-options .button.activetab {
  background-color: #1777BB; font-size:13.5pt; padding: 0.25em 0.5em 0.45em 0.5em;
}

.dashboard .mobile-options .button.nonactivetab {
  background-color: transparent;
  color: #43535F;
  font-size:13.5pt;
  padding: 0.25em 0.5em 0.45em 0.5em;
}

.dashboard .mobile-options .button.settings {
  background-image: url('../img/cog.svg');
  background-position: 0.5rem center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  padding-left: 2rem;
  background-color: #2E373F;
}

.dashboard .mobile-options .button.update {
  background-image: url('../img/cloud.svg');
  background-position: 0.5rem center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  padding-left: 2.2rem;
}

.dashboard .data {
  border-left: solid 1px #c9c9c9;
  border-right: solid 1px #c9c9c9;
  border-bottom: solid 1px #c9c9c9;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size:12.5pt;
}

.dashboard .data .row {
  background-color:#eff6f9;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0.35rem;
  padding-bottom: 0.4rem;
}

.dashboard .data .row:nth-child(even) {
  background-color: white;
}

.dashboard .button {
  margin-bottom: 0;
}

.dashboard .data .ok {
  color: #46BC6D;
  font-weight: 500;
}

.dashboard .data .release {
  color: #4D4D4D;
}

.dashboard .data .button.link {
  color: white;
  background-color: #46BC6D;
  padding-top: 0.2rem;
  padding-bottom: 0.25rem;
  background-image: url('../img/links.svg');
  background-position: 0.5rem center;
  background-size: auto 60%;
  background-repeat: no-repeat;
  padding-left: 1.75rem;
  font-size:12.5pt;
}

.dashboard .data .button.link:hover {
  color: white;
  background-color: #379e59;
}

#menu {
  background-image: url('../img/bg-menu.png');
  background-color: #2E373F;
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  height: 95%;
  min-height: 720px;
}

#menu .active > a, #mobile-menu .active > a {
  background-color: transparent;
}

#menu li a, #mobile-menu li a {
  color: white;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  padding-left: 2.1rem;
  font-size:14pt;
}

#menu li, #mobile-menu li {
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #43535F;
  background-color: #2E373F;
}

#menu li.active, #menu li:hover, #menu li:active {
  background-color: #1777BB;
  background-position: left center;
  background-repeat: no-repeat;
}

#menu li.active {
  background-image: url('../img/tab.png');
}

#mobile-menu li.active, #mobile-menu li:hover, #mobile-menu li:active {
  background-color: #1777BB;
}

.task .box {
  position: relative;
}

.task .box .fi-x {
  color: rgba(193,39,45,1);
}

.task .box:hover {
  cursor: pointer;
}

.task .box .fi-arrows-out {
  display: none;
}

.select-repo-warning {
  display: none;
  color: red;
}

.task .box:hover .fi-arrows-out {
  display: block;
  position: absolute;
  color: #888;
  left: 50%;
  margin-left: -5px;
  top: 15px;
  font-size: 8px;
}

#page-contents {
  padding-top: 3.5rem;
  padding-bottom: 20px;
  min-height: 100%;
  margin-top: 100px !important;
}

.org-plan {
  position: relative;
  padding-bottom: 100px;
}

.org-plan .price {
  float: right;
  right: 0px;
  color: #888;
  font-size: 1rem;
  font-style: italic;
}

.org-plan .button {
  position: absolute;
  bottom: 10px;;
}

.features .planned {
  color: #ddd;

}

/* Medium and small */
@media screen and (max-width: 63.9375em) {
  #page-contents {
    padding-top: 6.25rem;
  }
  .data { margin-top:4px; border-top: solid 1px #c9c9c9; }
}

#current-payment {
  padding-top: 8px;
}

.label-role-developer {
  background-color: #3dad69;
}

.label-role-operator {
  background-color: #1777bb;
}

.label-role-administrator {
  background-color: #ffae00; 
}

/* Small only */
@media screen and (max-width: 49.9375em) {
  #footer .menu.align-right {
    justify-content: center;
    padding-right: 0;
  }

  #mobile-menu {
    display: inherit;
    padding-top: 112px;
  }

  .data { margin-top:4px; border-top: solid 1px #c9c9c9; }

  .dashboard .title .body span {
    border-right: 0px;
    padding-right:0rem;
    margin-right: 0.5rem;
    padding-left: 0.7rem;
    font-size: 14pt;
    letter-spacing: 0.4px;
  }

  header .logo img{ margin-bottom:10px; }

  #main .main-container .button {
    margin: 5px 0;
  }

  #page-contents {
    padding-top: 7.25rem;
    position: relative;
    margin-top: 120px;
  }

  #page-contents.menu-expanded {
    padding-top: 0;
    z-index: -1 !important;
  }

  .dashboard .title .body span {
    border-right: 0px;
    padding-right:0rem;
    margin-right: 0.5rem;
    padding-left: 0.7rem;
    font-size: 14pt;
    letter-spacing: 0.4px;
  }

  header {
    padding-top: 0.35rem;
    position: fixed;
    width: 100%;
  }

  header img.logo { margin-bottom:10px; }
  header img.logo { width:100px; height:auto; margin:12px 0 0 5px; }
}
